In [36]:
import numpy as np
from collections import Counter
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
from collections import Counter
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split

# Phân loại chữ viết tay

In [2]:
data=pd.read_csv("letter-recognition.csv")
data.head()

,letter,xbox,ybox,width,height,onpix,xbar,ybar,x2bar,y2bar,xybar,x2ybar,xy2bar,xedge,xedgey,yedge,yedgex
0,T,2,8,3,5,1,8,13,0,6,6,10,8,0,8,0,8
1,I,5,12,3,7,2,10,5,5,4,13,3,9,2,8,4,10
2,D,4,11,6,8,6,10,6,2,6,10,3,7,3,7,3,9
3,N,7,11,6,6,3,5,9,4,6,4,4,10,6,10,2,8
4,G,2,1,3,1,1,8,6,6,6,6,5,9,1,7,5,10

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 17 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   letter  20000 non-null  object
 1   xbox    20000 non-null  int64
 2   ybox    20000 non-null  int64
 3   width   20000 non-null  int64
 4   height  20000 non-null  int64
 5   onpix   20000 non-null  int64
 6   xbar    20000 non-null  int64
 7   ybar    20000 non-null  int64
 8   x2bar   20000 non-null  int64
 9   y2bar   20000 non-null  int64
 10  xybar   20000 non-null  int64
 11  x2ybar  20000 non-null  int64
 12  xy2bar  20000 non-null  int64
 13  xedge   20000 non-null  int64
 14  xedgey  20000 non-null  int64
 15  yedge   20000 non-null  int64
 16  yedgex  20000 non-null  int64
dtypes: int64(16), object(1)
memory usage: 2.6+ MB

In [6]:
data.isnull().sum()

letter    0
xbox      0
ybox      0
width     0
height    0
onpix     0
xbar      0
ybar      0
x2bar     0
y2bar     0
xybar     0
x2ybar    0
xy2bar    0
xedge     0
xedgey    0
yedge     0
yedgex    0
dtype: int64

In [15]:
data["letter"].unique().tolist()

['T',
 'I',
 'D',
 'N',
 'G',
 'S',
 'B',
 'A',
 'J',
 'M',
 'X',
 'O',
 'R',
 'F',
 'C',
 'H',
 'W',
 'L',
 'P',
 'E',
 'V',
 'Y',
 'Q',
 'U',
 'K',
 'Z']

In [28]:
features=data.iloc[:,1:]
features

,xbox,ybox,width,height,onpix,xbar,ybar,x2bar,y2bar,xybar,x2ybar,xy2bar,xedge,xedgey,yedge,yedgex
0,2,8,3,5,1,8,13,0,6,6,10,8,0,8,0,8
1,5,12,3,7,2,10,5,5,4,13,3,9,2,8,4,10
2,4,11,6,8,6,10,6,2,6,10,3,7,3,7,3,9
3,7,11,6,6,3,5,9,4,6,4,4,10,6,10,2,8
4,2,1,3,1,1,8,6,6,6,6,5,9,1,7,5,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,2,2,3,3,2,7,7,7,6,6,6,4,2,8,3,7
19996,7,10,8,8,4,4,8,6,9,12,9,13,2,9,3,7
19997,6,9,6,7,5,6,11,3,7,11,9,5,2,12,2,4
19998,2,3,4,2,1,8,7,2,6,10,6,8,1,9,5,8
19999,4,9,6,6,2,9,5,3,1,8,1,8,2,7,2,8

In [31]:
labels=data.iloc[:,0]
labels

0        T
1        I
2        D
3        N
4        G
        ..
19995    D
19996    C
19997    T
19998    S
19999    A
Name: letter, Length: 20000, dtype: object

In [32]:
class K_Nearest_Neighbors:
    def __init__(self, data_set, k):
        self.ds = data_set
        self.k = k

    def predict(self, feature_set):
        distances = []
        for group in self.ds:
            for feature in self.ds[group]:
                e_d = np.linalg.norm(np.array(feature_set) - np.array(feature))
                distances.append([e_d, group])
        nearest = sorted(distances, key=lambda x: x[0])[:self.k]
        votes = [d[1] for d in nearest]
        nearest_group = Counter(votes).most_common(1)[0]
        feature_set_group, self.confidence = nearest_group[0], nearest_group[1] / self.k
        return feature_set_group

    def test(self, test_data):
        correct = 0
        total = 0
        for group in test_data:
            for feature_set in test_data[group]:
                group_prediction = self.predict(feature_set)
                if group_prediction == group:
                    correct += 1
                total += 1
        accuracy = correct / total
        print("Accuracy =", accuracy)

In [33]:
features=data.iloc[:,1:].values
labels=data.iloc[:,0].values

In [37]:
X_train,X_test,y_train,y_test=train_test_split(features,labels,test_size=0.2,random_state=42,stratify=labels)

In [38]:
train_data={}

for feature,label in zip(X_train,y_train):
    train_data.setdefault(label,[]).append(feature)

test_data={}
for feature,label in zip(X_test,y_test):
    test_data.setdefault(label,[]).append(feature)

knn=K_Nearest_Neighbors(train_data,k=5)
knn.test(test_data)

Accuracy = 0.956

In [40]:
new_samples = np.random.randint(0, 16, size=(5,16))
predicted_class=knn.predict(new_samples)
print("Predicted:", predicted_class, "Confidence:", knn.confidence)

Predicted: N Confidence: 0.4